.mat-form-field {
  font-size: 14px;
  color:white;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position:relative;
}

.white-icon {
  color: white;
}

@media (max-width: 530px){
  mat-form-field{
    width: 100%
  }
}