<app-filter (onApplyFilter)="applyFilter($event)"></app-filter>

<mat-form-field appearance="fill">
  <mat-label>Sort</mat-label>
  <mat-select>
    <mat-option *ngFor="let sort of sortOptions" (click)="selectedValue(sort)" [value]="sort.value">
      {{sort.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="270px" >
  <mat-grid-tile *ngFor="let data of dataSourcePaged">
      <mat-card class="card">
        <mat-card-subtitle><b>{{data.id}}:</b> {{data.title | titlecase}}</mat-card-subtitle>
        <img mat-card-sm-image src="{{data.thumbnailUrl}}" (click)="onViewImage(data)">
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)">
</mat-paginator>