<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <div class="navigation">
      <a mat-button [routerLink]="'/'"> <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
      <a mat-button [routerLink]="'/posts'" routerLinkActive="active-route"><h1>Posts</h1></a>
      <a mat-button [routerLink]="'/photos'" routerLinkActive="active-route"><h1>Photos</h1></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main">
  <router-outlet></router-outlet>
</div>