img:hover{
  cursor: pointer; 
}

.card {
  width: 22vw;
  margin-bottom: 8px;
  text-align: center;
  height: 150px;
}

.sort-filter-actions{
  display:flex;
  justify-content: space-between;
}

.sort-dropdown{
  background-color: var(--background-pink);
}

@media (max-width: 900px){
  .card {
    width: 80vw;
  }
}

@media (max-width: 530px){
  .sort-filter-actions{
    flex-direction: column;
  }
  .sort-filter-actions app-filter{
    width: 80vw;
  }
}